$mobile-nav-width: 200px;
$mobile-nav-offset: 150px;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  transition: all 0.15s ease;
  &.nav-active {
    padding-left: $mobile-nav-width;
  }
}

nav {
  width: $mobile-nav-width;
  height: 100%;
  position: relative;
  border: 2px solid red;
  left: -$mobile-nav-offset;
}

.nav__button {
  position: absolute;
  top: 10px;
  right: 10px;
}
