html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  transition: all 0.15s ease;
  padding: 20px 20px 20px 70px; }
  body.nav-active {
    padding-left: 220px; }
    body.nav-active nav {
      left: 0; }

nav {
  transition: all 0.15s ease;
  width: 200px;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  left: -150px; }

.nav__button {
  position: absolute;
  top: 10px;
  right: 10px; }

.nav__item--dropdown .nav__list--sub {
  display: none; }

.nav__item--dropdown.is-active .nav__list--sub {
  display: block; }
