$mobile-nav-width: 200px;
$mobile-nav-offset: 150px;
$spacing: 20px;
$transition-all: all 0.15s ease;
$body-padding-left: $mobile-nav-width - $mobile-nav-offset + $spacing;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  transition: $transition-all;
  padding: $spacing $spacing $spacing $body-padding-left;
  &.nav-active {
    padding-left: $mobile-nav-width + $spacing;

    nav {
      left: 0;
    }
  }
}

nav {
  transition: $transition-all;
  width: $mobile-nav-width;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  left: -$mobile-nav-offset;
}

.nav__button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav__item--dropdown {
  .nav__list--sub {
    display: none;
  }

  &.is-active {
    .nav__list--sub {
      display: block;
    }
  }
}
