$desktop: 'desktop';
$tablet: 'tablet';
$spacing: 20px;

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 560px) { @content ; }
  }
  @if $point == desktop {
    @media (min-width: 960px) { @content ; }
  }
}

@mixin column($amount) {
  -webkit-column-count: $amount;
  -moz-column-count: $amount;
  column-count: $amount;
}

@mixin avoidColumnBreak() {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  column-break-inside: avoid;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  h1 {
    text-align: center;
  }

  p {
    padding: $spacing;
  }

  @include breakpoint($desktop) {
    p {
      @include column(2);
    }
  }
}

.grid {
  padding: $spacing;

  @include breakpoint($tablet) {
    @include column(2);
  }

  @include breakpoint($desktop) {
    @include column(3);
  }

  article {
    height: 200px;
    padding: $spacing / 2 0;

    @include breakpoint($tablet) {
      @include avoidColumnBreak();
    }

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(odd) {
      height: 400px;
    }

    div {
      padding: $spacing;
      background: #777;
      height: 100%;
    }
  }
}
